# temp files
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# cask packages
.cask/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

session.*
.session
network-security.data
cider-history
.smex-items
projectile-bookmarks.eld
.recentf
recentf
ido.last
/transient

# prescient (legacy)
var/

projectile.cache
request/
.cache/
url/
.org-generic-id-locations
.lsp-*
bookmarks
*.plist
persist/**
projects

# native compilation
eln-cache

# tangled output
modules/*.el
README.el
README.org.*

# language servers
zig-lsp/
odin-lsp/

# AI tools
.aider*

# straight.el
/straight/
/elpa/
backups/
auto-save-list/
dist/
tree-sitter/
history